<table class="row table table-striped table-bordered report-table">
  <thead>
    <tr>
      <th class="col-lg-12" colspan="3" style="text-align:center;"><h4>SURVEY LIST</h4></th>
    </tr>
    <tr>
      <th class="col-lg-6">Title</th>
      <th class="col-lg-6">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="surveyProfiles !== undefined && surveyProfiles.length > 0" ng-repeat="surveyProfile in surveyProfiles">
      <td class="col-lg-6">
        <a ng-if="surveyProfile.survey_profile_type == 1"
          href="#/survey_profiles/sorting/{{surveyProfile.id}}">
          {{surveyProfile.title}}
        </a>
        <a ng-if="surveyProfile.survey_profile_type == 2"
          href="#/survey_profiles/image/{{surveyProfile.id}}">
          {{surveyProfile.title}}
        </a>
      </td>
      <td class="col-lg-6">
        <a ng-if="surveyProfile.survey_profile_type == 1" href="#/survey_profiles/{{surveyProfile.id}}/feedbacks" class="btn btn-sm btn-primary">
          Submit Feedback
        </a>
        <a ng-if="surveyProfile.survey_profile_type == 2" href="#/survey_profiles/image/{{surveyProfile.id}}/feedbacks" class="btn btn-sm btn-primary">
          Submit Feedback
        </a>
      </td>
    </tr>
    <tr ng-if="surveyProfiles === undefined || surveyProfiles.length == 0">
      <td class="col-lg-12" colspan="2">
        <center>There is no survey profile.</center>
      </td>
    </tr>
  </tbody>
</table>

