<div class="row" style="margin-top:20px;"></div>
<div ng-if="surveyProfile.id != undefined" class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-10 survey-profile-hdr">
        {{surveyProfile.title}}
      </div>
      <div class="col-md-2">
        <!--a ng-if="current_user.id != undefined && current_user.id == surveyProfile.user_id" href="#survey_profiles/{{surveyProfile.id}}/edit" class="pull-right btn btn-primary">Edit Survey Profile</a>-->
      </div>
      <div class="clear"></div>
    </div>
    <div class="row bdr"></div>
    <div class="clear"></div>
    <div class="row">
      <div id="image_survey_question" class="question-div pull-left">{{survey_question}}</div>
      <div class="pull-right">
        <button id="image_feedback_next_btn" class="btn btn-primary img-next-btn disabled" ng-click="saveImageProfileFeedback(surveyProfile.id)">Next</button>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row img-survey-profile-feedback">
      <div ng-if="image.image_url != undefined" id="dropped-image-div">
        <canvas id="myCanvas" set-image-on-canvas ></canvas>
        <!--<img id="dropped-img" class="drag-n-drop-box" src="{{image.image_url}}" get-image-coordinate/>-->
      </div>
      <div ng-if="image == undefined" id="dropped-image-div">
        There is no image.
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

