<div class="row" style="margin-top:-20px;">
  <div class="col-lg-2 lft-feature-bar">
    <div class="feature-hdr-lbl">
      Selected top three features
    </div>
    <div ng-if="interestedFeature.length > 0" ng-repeat="feature in interestedFeature" class="feature-lbl" top3-draggable="true" featureid="{{feature.id}}">
      <span>{{feature.title}}</span>
    </div>
    <div ng-if="interestedFeature.length == 0" class="feature-lbl">
      There ino more interested features.
    </div>
  </div>
  <div class="col-lg-10 refine-features-block">
    <div style="margin-top:75px;"></div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="txt-hdr">What is your top 3?</div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="clearboth" style="margin-top: 100px;"></div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 feature-number-blk">
            <center>
              <div class="feature-number-lbl">1</div>
            </center>
          </div>
          <div class="col-md-3 feature-number-blk">
            <center>
              <div class="feature-number-lbl">2</div>
            </center>
          </div>
          <div class="col-md-3 feature-number-blk">
            <center>
              <div class="feature-number-lbl">3</div>
            </center>
          </div>
          <div class="col-md-3 feature-number-blk">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-3 top-feature-block">
            <div ng-if="topFirstFeature.length === 0" class="feature-top1-lbl"
              name="interested-box-first" top3-drop-target>Feature 1</div>
            <div ng-if="topFirstFeature.length !== 0" class="feature-top1-lbl"
              name="interested-box-first" top3-drop-target>{{topFirstFeature[0].title}}
              <a class="feature-close" name="first-top-feature" reset-top3-feature>&times;</a>
            </div>
          </div>
          <div class="col-md-3 top-feature-block">
            <div ng-if="topSecondFeature.length === 0" class="feature-top2-lbl"
              name="interested-box-second" top3-drop-target >Feature 2</div>
            <div ng-if="topSecondFeature.length !== 0" class="feature-top2-lbl"
              name="interested-box-second" top3-drop-target >{{topSecondFeature[0].title}}
              <a class="feature-close" name="second-top-feature" reset-top3-feature>&times;</a>
            </div>
          </div>
          <div class="col-md-3 top-feature-block">
            <div  ng-if="topThirdFeature.length === 0"  class="feature-top3-lbl" name="interested-box-third"
            top3-drop-target>Feature 3</div>
            <div  ng-if="topThirdFeature.length !== 0"  class="feature-top3-lbl"
              name="interested-box-third" top3-drop-target>{{topThirdFeature[0].title}}
              <a class="feature-close" name="third-top-feature" reset-top3-feature>&times;</a>
            </div>
          </div>
          <div class="col-md-3 top-feature-block">
            <a href="javascript:void(0);" ng-click="saveFeedback()" class="next-top3-button">Next&nbsp;&nbsp;
              <i class="glyphicon glyphicon-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
