@import "bootstrap-sprockets";
@import "bootstrap";
@import "user_signup";
@import "homes";

.clear{
  margin-bottom: 5px;
  clear: both;
}

.spacer{
  margin-bottom: 10px;
}

.clearboth{
  clear: both;
}

.bdr{
  border-bottom: 1px solid lightgray;
}

.growl-notification{
  position:fixed;
  z-index:5000;
  right: 10px;
  top: 5px;
  min-width:600px;
}
