@import "bootstrap-sprockets";
@import "bootstrap";
@import "user_signup";

.clear{
  margin-bottom: 5px;
  clear: both;
}

.spacer{
  margin-bottom: 10px;
}

.clearboth{
  clear: both;
}

.bdr{
  border-bottom: 1px solid lightgray;
}
