.form-header{
  border-bottom: 1px solid #d3d3d3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 10px;
  text-align: center;
}
.bdr-bottom {
  border-bottom: 1px solid #d3d3d3;
  margin-top: 10px;
}
.survey-profile-txtarea{
  height: 100px;width:580px;
  padding:5px 10px;
}

.survey-profile-hdr{
  font-size: 22px;
  font-weight: bold;
  padding: 8px 4px;
}

.survey-profile-descrition, .note-row{
  padding: 8px 4px;
}

.survey-profile-feature-hdr{
  font-size: 16px;
  font-weight: bold;
  padding: 8px 4px;
}

.survey-profile-feature-lst{
  padding-bottom: 10px;
}

.table-header th{
  cursor:pointer;
  text-align: left;
}
.sort-icon.glyphicon-chevron-down{
  font-size: 12px;
  margin-top: 4px;
  vertical-align: middle;
  float:right;
}
.sort-icon.glyphicon-chevron-up {
  font-size: 12px;
  margin-top: 2px;
  vertical-align: middle;
  float:right;
}
.img-next-btn{
  padding: 5px 40px;
  border-radius: 0px !important;
  border: 1px solid #F7F6F6;
}

.img-holder-div{
  position: relative;
  border: 1px solid lightgray;
  min-height: 650px;
  max-height: 650px;
  max-width: 750px;
  margin-bottom: 20px;
}

.drag-n-drop-box{
  border: 1px solid lightgray;
  min-height: 650px;
  max-height: 650px;
  max-width: 750px;
  margin-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  z-index:1000;
}

.drag-image-input{
  margin-top: 320px;
}

.drag-image-txt{
  margin-top: 300px;
  color: gray;
}

.cross-image-sign{
  border: 1px solid #CC181E;
  border-radius: 15px;
  color: #CC181E;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 0 5px 3px;
  position: absolute;
  right: 8px;
  top: 42px;
  z-index: 5000;
  cursor: pointer;
}

.cross-image-sign:hover{
  color: #CC181E;
}
