<div class="row" style="margin-top:-20px;">
  <div class="col-lg-2 lft-feature-bar">
    <div class="feature-hdr-lbl">
      Drage these feature onto the two circles
    </div>
    <div ng-if="features.length > 0" ng-repeat="feature in features" class="feature-lbl" dd-draggable="true" featureid="{{feature.id}}">
      {{feature.title}}
    </div>
    <div ng-if="features.length == 0" class="feature-lbl">
      There is no more features.
    </div>
  </div>
  <div class="col-lg-10 rght-feature-bar">
    <div class="circle-contaner" id="dropbox">
      <div class="non-interested-circle" dd-drop-target="true" name="non-interested-circle">
        <!--<span ng-repeat="feature in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" class="non-interested-feature">yyyyyyyyy</span>-->
        <div ng-repeat="feature in nonInterestedFeature" class="non-interested-feature">
          <div class="floatL" title="{{feature.title}}">{{truncate(feature.title)}}</div>
           <a class="feature-close" feature-id="{{feature.id}}" name="non-interested-circle-element"
            reset-intersted-non-interested-element>&times;</a>
        </div>
        <div class="interested-circle" dd-drop-target="true" name="interested-circle">
          <!--<span ng-repeat="feature in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" class="interested-feature">zzzzzz</span>-->
          <div ng-repeat="feature in interestedFeature" class="interested-feature">
            <div class="floatL" title="{{feature.title}}">{{truncate(feature.title)}}</div>
            <a class="feature-close" feature-id="{{feature.id}}" name="interested-circle-element"
              reset-intersted-non-interested-element>&times;</a>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0);" ng-click="refineFeature(survey_profile.id)" class="next-button">Next&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>
</div>
