<div class="row" style="margin-top:20px;"></div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row">
          <div class="pull-left">Drag an image below, then press "next"</div>
          <div class="pull-right">
            <button class="btn img-next-btn" ng-click="createImageSurveyProfile()">Next</button>
          </div>
        </div>
        <div class="clear"></div>
        <div class="row drag-n-drop-box">
          <!--center><input type="file" name="image_file" class="drag-image-input" size="40"/></center>
          <div class="clear"> or </div>-->
          <div class="drag-image-txt">Drag image here</div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

