<!-- http://plnkr.co/edit/y5n16v?p=preview-->
<div class="row" style="margin-top:20px;"></div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row">
          <div class="pull-left">Drag an image below, then press "next"</div>
          <div class="pull-right">
            <button class="btn img-next-btn" ng-click="createImageSurveyProfile()">Next</button>
          </div>
        </div>
        <div class="clear"></div>
        <input type="hidden" ng-file-select="onFileSelect($files)">
        <div id="dropbox" class="row drag-n-drop-box" ng-file-drop="onFileSelect($files)"
          ng-file-drag-over-class="optional-css-class-name-or-function"
          ng-show="dropSupported" accept="image/*">
          <div id="drag-image-label" class="drag-image-txt">{{dropText}}</div>
          <div id="dropped-image-div" class="hide">
            <div class="glyphicon glyphicon-remove cross-image-sign" remove-dropped-image></div>
            <img id="dropped-img" class="drag-n-drop-box" ng-src="{{imageSrc}}" />
          </div>
        </div>
        <div ng-file-drop-available="dropSupported=true"
          ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

