<div class="row" style="margin-top:20px;"></div>
<div ng-if="surveyProfile.id != undefined" class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-10 survey-profile-hdr">
        {{surveyProfile.title}}
      </div>
      <div class="col-md-2">
        <a ng-if="current_user.id != undefined && current_user.id == surveyProfile.user_id" href="#survey_profiles/{{surveyProfile.id}}/edit" class="pull-right btn btn-primary">Edit Survey Profile</a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="row bdr"></div>
    <div class="clear"></div>
    <div class="row survey-profile-descrition">
      {{surveyProfile.description}}
      <div class="clear"></div>
    </div>
    <div class="row survey-profile-feature-hdr">
      Features :
      <div class="clear"></div>
    </div>
    <div class="row survey-profile-feature-lst bdr">
      <div class="col-lg-6" ng-repeat="feature in features">
        {{$index + 1}}.&nbsp;&nbsp;&nbsp;{{feature.title}}
      </div>
    </div>
    <div ng-if="features.length < 15 " class="row note-row">
       <strong>Note:</strong> A Survey profile can have at most 15 features. Now you have created {{features.length}} features till now. You can create {{remaining_features_count}} more features.
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>

